@using System.Globalization
@using System.Windows.Input
@using PolyhydraGames.BlazorComponents.Dialog
@using ReactiveUI
@using System
@using System.Reactive.Linq

@implements IDisposable
<Modal @ref="_modal" Closing="OnModalClosing">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton Clicked="CancelDialog" />
        </ModalHeader>
        <ModalBody>
            @if (Type == DialogRequestType.Selection)
            {
                <ListGroup Flush>
                    @foreach (var item in Items)
                    {
                        <ListGroupItem @onclick="() => SelectionCommand.Execute(item)">
                            @item.ToString()
                        </ListGroupItem>
                    }
                </ListGroup>
            }
            else
            {
                <Text>@Message</Text>
                <TextEdit Visibility="@(Type == DialogRequestType.Prompt || Type == DialogRequestType.PromptInt ? Visibility.Visible : Visibility.Invisible)" @bind-Text="@Value"></TextEdit>
                <Button Command="PositiveCommand">@PositiveButton</Button>
                <Button Command="NegativeCommand">@NegativeButton</Button>
            }
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    private bool _waitingForUserSelection;
    public Modal? _modal;
    private IDisposable? _dispose;
    public DialogRequestType Type { get; set; }
    public string Title { get; set; } = string.Empty;
    public string Message { get; set; } = string.Empty;
    public string Value { get; set; } = string.Empty;
    public string PositiveButton { get; set; } = string.Empty;
    public string NegativeButton { get; set; } = string.Empty;
    public List<object> Items { get; set; } = [];

    [Inject] private IObservableDialogService _dialogService { get; set; } = default!;

    public ICommand PositiveCommand { get; set; }
    public ICommand NegativeCommand { get; set; }
    public ICommand SelectionCommand { get; set; }
    public DialogRequest? Request { get; set; }

    public RichDialogs()
    {
        PositiveCommand = ReactiveCommand.Create( PositiveClicked );
        NegativeCommand = ReactiveCommand.Create( NegativeClicked );
        SelectionCommand = ReactiveCommand.Create<object>( x => ObjectSelected( x ) );
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _dispose = _dialogService.OnDialogRequest.Subscribe( request => _ = OnModalRequested( request ) );
    }

    private async Task NegativeClicked()
    {
        if ( Request is null )
            return;

        switch ( Type )
        {
            case DialogRequestType.Alert:
                Request.SetResult();
                break;
            case DialogRequestType.Confirm:
                Request.SetResult( false );
                break;
            case DialogRequestType.Prompt:
                Request.SetResult( string.Empty );
                break;
            case DialogRequestType.PromptInt:
                Request.SetResult( 0, cancelled: true );
                break;
            case DialogRequestType.Selection:
                Request.Cancel();
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        await DismissModalOnSuccess();
    }

    private Task ObjectSelected( object item )
    {
        Request?.SetSelection( item );
        return DismissModalOnSuccess();
    }

    private async Task PositiveClicked()
    {
        if ( Request is null )
            return;

        switch ( Type )
        {
            case DialogRequestType.Alert:
                Request.SetResult();
                break;
            case DialogRequestType.Confirm:
                Request.SetResult( true );
                break;
            case DialogRequestType.Prompt:
                Request.SetResult( Value );
                break;
            case DialogRequestType.Selection:
                Request.Cancel();
                break;
            case DialogRequestType.PromptInt:
                if ( int.TryParse( Value, NumberStyles.Integer, CultureInfo.InvariantCulture, out var parsedValue ) )
                {
                    if ( Request.MinInt is not null && parsedValue < Request.MinInt.Value )
                    {
                        Request.SetResult( Request.DefaultInt ?? 0, cancelled: true );
                    }
                    else if ( Request.MaxInt is not null && parsedValue > Request.MaxInt.Value )
                    {
                        Request.SetResult( Request.DefaultInt ?? 0, cancelled: true );
                    }
                    else
                    {
                        Request.SetResult( parsedValue );
                    }
                }
                else
                {
                    Request.SetResult( Request.DefaultInt ?? 0, cancelled: true );
                }

                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        await DismissModalOnSuccess();
    }

    private Task DismissModalOnSuccess()
    {
        _waitingForUserSelection = false;
        Value = string.Empty;
        return _modal?.Hide() ?? Task.CompletedTask;
    }

    public void ShowTest()
    {
        _ = OnModalRequested( new DialogRequest
        {
            Title = "Test",
            Message = "Test!!!!",
            Type = DialogRequestType.Alert
        } );
    }

    private Task OnModalRequested( DialogRequest request )
    {
        _waitingForUserSelection = true;
        Title = request.Title;
        Type = request.Type;
        Message = request.Message;
        PositiveButton = request.PositiveButton;
        NegativeButton = request.NegativeButton;
        Items = request.Items;
        Request = request;

        if ( request.Type == DialogRequestType.PromptInt )
        {
            Value = request.DefaultInt?.ToString( CultureInfo.InvariantCulture ) ?? string.Empty;
        }

        return _modal?.Show() ?? Task.CompletedTask;
    }

    public void Dispose()
    {
        _dispose?.Dispose();
    }

    public void CancelDialog()
    {
        Request?.Cancel();
        _waitingForUserSelection = false;
    }

    private Task OnModalClosing( ModalClosingEventArgs e )
    {
        if ( _waitingForUserSelection )
        {
            CancelDialog();
        }

        return Task.CompletedTask;
    }
}
